
@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Berkshire+Swash&family=Bowlby+One&family=Cinzel+Decorative:wght@400;700;900&family=Itim&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Parisienne&family=Permanent+Marker&family=Roboto:wght@100&family=Sassy+Frass&family=Tangerine:wght@700&family=UnifrakturMaguntia&display=swap');
/* fonts :
font-family: 'Amita', cursive;
font-family: 'Berkshire Swash', cursive;
font-family: 'Bowlby One', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Itim', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Sassy Frass', cursive;
font-family: 'Tangerine', cursive;
font-family: 'UnifrakturMaguntia', cursive; 
*/

body {
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../IMG/869940.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}



.area {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.area2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 8%;
}

.container1 {
    margin-top: 50px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 80%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 10%;
    background-image: linear-gradient(to top left, teal,tan,teal);
}
.container1 h2 {
    text-align: center;
    margin-bottom: 30px;
}
.container1 form {
    max-width: 500px;
    margin: 0 auto;
}
label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
input[type="text"], input[type="email"], textarea {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
textarea {
    height: 150px;
}


input[type="submit"],input[type=file]  {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

input[type="submit"]:hover {
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}


#image-file {
    margin-bottom: 5px;
    padding: 3px;
    height: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#file-upload-button {
    padding: 0%;
    background-color: green !important;
}






.container2 {
    background-color: #fff ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 1000px;
    margin: 0 auto;
    margin: auto;
    margin-bottom: 3%;
    padding: 3%;
    background-image: linear-gradient(to top left, teal,tan,teal);
}

.container {
    width: inherit;
    height: inherit;
    font-size: medium;
    text-align: center;
    color: darkslategray;
}

table th,td {
    font-family: 'Itim', cursive;
    font-size: 18px;

}

.container2 h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    color: #4d0000;
    text-shadow: 0 0 6px;
}

.container2 h2 {
    font-size: 24px;
    margin-top: 30px;
    color: #4d0000;
    text-shadow: 0 0 6px;
}

.container2 p {
    font-size: 16px;
    line-height: 1.5;
}

.container2 ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    list-style: none;
    padding-left: 40px;
}

.container2 li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.skill {
    background-color: #3e8e41;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pack {
    background-color: rgb(255, 230, 230, 0.1);
    border: 1px solid rgb(255, 230, 230,0.3);
    border-radius: 5px;
    padding: 5px;
    padding-left: 40px;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    height: inherit;
    width: inherit;
}

.image {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 230, 230, 0.1);
    border: 1px solid rgb(255, 230, 230,0.3);
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
img {
    width: inherit;
    height: inherit;
}

.fullPack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.userInfo {
    width: 600px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    background-color:  rgba(255, 248, 220, 0.3);
    width: max-width;
    height: 70px;
    border: 1px solid wheat;
    border-left: none;
    border-right: none;
    border-radius: 5px;
    box-shadow: 0 0 100px moccasin;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Cinzel Decorative', cursive;

}

.header-link {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: inherit;
    text-decoration-line: none;
    color: teal;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 5px 5px 30px darkslateblue;
    border-radius: 5px;
    overflow: hidden;

}
.header-link a {
    width: inherit;
    height: inherit;
}
.header-link:hover {
    text-decoration-line: none;
    font-size: 22px;
    text-shadow: 0 0 30px darkslateblue;
    background-color: rgba(210, 180, 140, 0.4);
    background-image: url(../IMG/polygons.png);
    background-size: contain;
    box-shadow: 0 0 30px moccasin;
}

.header-logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid teal;
    box-shadow: 5px 5px 30px goldenrod;
}

.inner-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*flex-direction: column;*/
}

#logout {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color:rgba(240, 060, 060, 0.4);
    font-size: 16px;
    box-shadow: 5px 5px 30px goldenrod;
}
#logout:hover {
    width: 110px;
    height: 40px;
    margin: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color:rgba(255, 060, 060, 0.6);
    font-size: 18px;
    text-decoration-line: none;
    box-shadow: 5px 5px 30px goldenrod;
}


#login {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color:rgba(060, 240, 200, 0.4);
    font-size: 16px;
    box-shadow: 5px 5px 30px goldenrod;
}
#login:hover {
    width: 110px;
    height: 40px;
    margin: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color:rgba(060, 255, 200, 0.6);
    font-size: 18px;
    text-decoration-line: none;
    box-shadow: 5px 5px 30px goldenrod;
}
#signup {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color:rgba(060, 200, 240, 0.4);
    font-size: 16px;
    box-shadow: 5px 5px 30px goldenrod;
}
#signup:hover {
    width: 110px;
    height: 40px;
    margin: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color:rgba(060, 200, 255, 0.6);
    font-size: 18px;
    text-decoration-line: none;
    box-shadow: 5px 5px 30px goldenrod;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    background-color:  rgba(255, 248, 220, 0.3);
    width: max-width;
    height: 70px;
    border: 1px solid wheat;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: 0 0 30px moccasin;
}
.footer a {
    color: teal;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 15px darkgoldenrod;
}

.footer p {
    color: darkgoldenrod;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0 0 15px black;
}

#back {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color:rgba(150, 12, 12, 0.4);
    font-size: 16px;
    box-shadow: 5px 5px 30px goldenrod;
}
#back:hover {
    width: 110px;
    height: 40px;
    margin: 10px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    background-color:rgba(150, 12, 12, 0.6);
    font-size: 18px;
    text-decoration-line: none;
    box-shadow: 5px 5px 30px goldenrod;
}

#auth-header {
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

#operations {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5px;
}

#download-pdf,#save-cv {
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    background-color: #3e8e41;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    text-decoration-line: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

#download-pdf:hover,#save-cv:hover {
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    background-color: #4CAF50;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-decoration-line: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}


.container3 {
    background-color: #fff ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    max-width: 1400px;
    margin: 5% auto;
    margin-bottom: 3%;
    padding: 3%;
    background-image: linear-gradient(to top left, teal,tan,teal);
}

table th,td {
    font-family: 'Itim', cursive;
    font-size: 18px;

}

.container3 h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    color: #4d0000;
    text-shadow: 0 0 6px;
}

.container3 h2 {
    font-size: 24px;
    margin-top: 30px;
    color: #4d0000;
    text-shadow: 0 0 6px;
}

.container3 p {
    font-size: 16px;
    line-height: 1.5;
}

.container3 ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    list-style: none;
    padding-left: 40px;
}

.container3 li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
}
.container3 table {
    border-collapse: collapse;
    border-spacing: 5px;
    border-radius: 3px;
    border: 1px solid transparent;
    box-shadow: 0 0 50px rgba(210, 180, 140, 0.7);
}
.container3 table th, .container3 table td {
    background-color: rgba(210, 180, 140, 0.3);
    border: 1px solid rgba(210, 180, 140, 0.2);
}

.container3 caption {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5%;
    color: #4d0000;
    text-shadow: 0 0 6px;
}